.employmentSection {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 0px var(--horizontal-spacing);
  border-top: 1px solid var(--color-gray-2);
  padding-top: var(--inner-vertical-spacing);
}

.indented {
  grid-column: 2/-1;
}

.icon {
  stroke-width: 2;
  grid-row: 1/2;
  grid-column: 1/2;
  color: var(--color-blue-7);
  align-self: center;
  justify-self: center;
}

.employmentStatus {
  border: none;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-color: white;
}

.employmentStatus svg {
  margin-left: -10px;
}
