*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;

  /* remove tap rectangle */
  -webkit-tap-highlight-color: transparent;
}
html {
  /* scrollbar-gutter: stable; */
  /* prevent horizontal scroll when applying translateX to rightActions on navbar */
  /* overflow-x: hidden; */
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; /* prevent horizontal scroll when applying translateX to rightActions on navbar */
}

body[style] {
  margin-right: 0px !important;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --color-gray-1: #f8f9faff;
  --color-gray-2: #e9ecefff;
  --color-gray-3: #dee2e6ff;
  --color-gray-4: #ced4daff;
  --color-gray-5: #adb5bdff;
  --color-gray-6: #6c757dff;
  --color-gray-7: #495057ff;
  --color-gray-8: #343a40ff;
  --color-gray-9: #212529ff;

  --color-blue-9: #03045eff;
  --color-blue-8: #023e8aff;
  --color-blue-7: #0077b6ff;
  --color-blue-6: #0096c7ff;
  --color-blue-5: #00b4d8ff;
  --color-blue-4: #48cae4ff;
  --color-blue-3: #90e0efff;
  --color-blue-2: #ade8f4ff;
  --color-blue-1: #caf0f8ff;

  --color-red-1: #fffcfc;
  --color-red-2: #fff7f7;
  --color-red-3: #feebec;
  --color-red-4: #ffdbdc;
  --color-red-5: #ffcdce;
  --color-red-6: #fdbdbe;
  --color-red-7: #f4a9aa;
  --color-red-8: #eb8e90;
  --color-red-9: #e5484d;
  --color-red-10: #dc3e42;
  --color-red-11: #ce2c31;
  --color-red-12: #641723;
}

td {
  padding: 0px;
}

html,
body,
#root, /* for create-react-app */
#__next /* for Next.js */ {
  /* height: 100%; */
  /* height: 100dvh; */
  /* min-height: -webkit-fill-available; */
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #a9a9a9;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #a9a9a9;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a9a9a9;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a9a9a9;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #a9a9a9;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #a9a9a9;
}
