.wrapper {
  width: 100%;
  min-height: 100dvh;
  /* min-height: 100vh; */

  /* min-height: -webkit-fill-available; */

  padding: 20px;
  padding-top: 0px;
  display: grid;
  grid-template-rows: auto auto 1fr;
}
