.searchBarWrapper {
  position: sticky;
  top: -15px;
  background-color: white;
  padding-bottom: 15px;
  padding-top: 25px;
  z-index: 2;
  background: var(--color-primary);
}

@media (min-width: 600px) {
  .searchBarWrapper {
    margin-top: -35px;
    /* padding-top: 0px; */
  }
}

.wordings {
  margin-left: 20px;
}

.header {
  font-size: 35px;
  font-weight: 600;
  position: relative;
  max-width: 800px;
  display: flex;
  /* margin-bottom: 5px; */
}

.selectedCount {
  position: absolute;
}

.input {
  width: 100%;
  border-radius: 8px;
  background: var(--color-primary-2);
  border: none;
  padding: 8px 16px;
  color: var(--color-gray-6);
  margin-top: 6px;
  /* border: 1px solid hsl(0, 0%, 70%); */
}
