.searchBarWrapper {
  /* margin-bottom: 30px; */
  position: sticky;
  top: -15px;
  background-color: white;
  padding-bottom: 15px;
  padding-top: 25px;
  z-index: 2;
  /* border-bottom: 1px solid var(--color-gray-2); */
  /* margin-bottom: 15px; */
}

.header {
  font-size: 35px;
  font-weight: 600;
  /* margin-bottom: 5px; */
}

.input {
  width: 100%;
  border-radius: 8px;
  background-color: var(--color-gray-2);
  border: none;
  padding: 8px 16px;
  color: var(--color-gray-6);
}
