.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--color-gray-2);
  padding-bottom: 20px;
}

.icon {
  size: 30px;
  color: var(--color-blue-7);
  stroke-width: 2;
  flex: 1;
  margin-left: -4px;
}
