.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--color-gray-2);
  padding-top: 30px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  /* pointer-events: auto; */
}

.icon {
  size: 30px;
  color: var(--color-blue-7);
  stroke-width: 2;
  flex: 1;
  margin-left: -4px;
}

.rightActions {
  position: absolute;
  right: 20px;
  top: 28px;
}

.rightActions:active {
  transform: scale(0.9);
}

.leftActions {
  position: absolute;
  left: 20px;
  top: 30px;
}

.leftActions:active {
  transform: scale(0.9);
}
.leftActions:active {
  transform: scale(0.8);
}

/* .hideName {
  color: var(--color-gray-2);
  position: absolute;
} */

.navName {
  color: black;
  font-weight: 600;
  /* position: absolute; */
}
