.rightActions {
  /* margin-left: auto; */
  display: flex;
  gap: 10px;
  flex: 1;
  justify-content: right;
  align-self: start;
  margin-top: -3px;
}

.leftActions {
  color: var(--color-gray-7);
  flex: 1;
  align-self: baseline;
  cursor: pointer;
  line-height: 1;
}

.leftActions:active {
  transform: scale(0.9);
  transform-origin: -20px 0px;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: baseline;
  position: sticky;
  top: 0;
  right: 0;
  background: var(--color-primary);
  z-index: 3;
  overflow: hidden;
  padding-left: 1px;
}

.subRightActions {
  display: flex;
  gap: 10px;
}

.icon {
  stroke-width: 2px;
  color: var(--color-gray-7);
  cursor: pointer;
}

.logOutIcon {
  height: 22px;
  width: 22px;
  padding-top: 2.5px;
}

.header {
  /* margin-left: auto;
  margin-right: auto; */
  display: flex;
  justify-content: center;
  color: black;
  flex: 1;
}

.userCircle {
  width: 23.5px;
  height: 23.5px;
}

.plusIcon {
  width: 26px;
  height: 26px;
}

.plusIconWrapper:active {
  transform: scale(0.8);
}

/* @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
} */

.trashIcon {
  background-color: var(--color-primary);
  border: none;
  padding: 0px;
}

/* .rotate {
  animation: rotate 300ms both;
  animation-iteration-count: 2;
} */

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.vibrate {
  animation: vibrate 500ms both linear;
  animation-iteration-count: 5;
}

.profileAvatar {
  border-radius: 50%;
  color: var(--color-secondary);
  background: inherit;
  padding: 0px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.8px solid var(--color-gray-7);
  cursor: pointer;
}

.profileAvatar span {
  font-size: 13px;
  line-height: 1;
}

.profileAvatarWrapper {
  border: none;
  padding: 0px;
  margin: none;
  background: var(--color-primary);
  height: 27px;
  width: 27px;
  display: flex;
  align-items: stretch;
}
