.indented {
    grid-column: 2/-1;
}

.inputSection {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 10px var(--horizontal-spacing);
    border-top: 1px solid var(--color-gray-2);
    padding-top: var(--inner-vertical-spacing);
}

.rowWithButtons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0px 10px;
}

.buttonGroup {
    display: flex;
    gap: 0px 10px;
    color: var(--color-gray-4)
}

.icon {
    stroke-width: 2;
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    color: var(--color-blue-7)
}

.plusIcon, .crossIcon {
    color: var(--color-gray-4);
}
