.wrapper {
  width: 100%;
  --horizontal-spacing: 20px;
  --vertical-spacing: 20px;
  --inner-vertical-spacing: 10px;
  background-color: var(--color-primary);
}

.navbar {
  padding-bottom: 20px;
}

.greyBG {
  background-color: var(--color-primary-2);
  padding: 20px;
  padding-bottom: 15px;
  padding-top: 0px;
  border-radius: 0% 0% 50% 50% / 10% 10% 19% 19%;
  pointer-events: none;
  /* border-bottom-left-radius: 220px 40px;
  border-bottom-right-radius: 220px 40px; */
}

.userSummary {
  display: grid;
  justify-content: center;
  /* position: absolute; */
  /* z-index: 4;
  position: relative; */
  /* padding-bottom: 20px; */
}

.whiteBG {
  background: var(--color-primary);
  padding: 20px;
  padding-top: 40px;
  display: grid;
  gap: 60px 0px;
}

.avatar {
  margin-bottom: 15px;
  background-color: var(--color-primary);
  border: inherit;
  z-index: 4;
}

.fullName {
  font-weight: 00;
  font-size: 20px;
  z-index: 4;
  color: var(--color-gray-7);
}

.avatarFont {
  color: var(--color-gray-6);
}

.avatar,
.fullName,
.jobInfo {
  justify-self: center;
}

.jobInfo {
  font-size: 13px;
  font-weight: 400;
  color: var(--color-gray-6);
  z-index: 4;
}

.form {
  display: grid;
  gap: 30px 0px;
}

.form * {
  color: var(--color-gray-7);
}

.section {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 10px var(--horizontal-spacing);
  font-size: 16px;
}

.icon {
  stroke-width: 2;
  grid-row: 1/2;
  grid-column: 1/2;
  color: var(--color-blue-7);
  align-self: center;
  justify-self: center;
}

.indented {
  grid-column: 2/-1;
}

.wrapper input {
  border: none;
}

/* */
.row {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.smallText {
  font-size: 12px;
  color: var(--color-gray-6);
}
