.wrapper {
  padding: 20px;
}

.form {
  display: grid;
  gap: var(--vertical-spacing) 0px;
}

.form input {
  border: none;
}

.icon {
  stroke-width: 2;
  grid-row: 1/2;
  grid-column: 1/2;
  color: var(--color-blue-7);
  align-self: center;
  justify-self: center;
}

.indented {
  grid-column: 2/-1;
}

.nameSection {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 10px var(--horizontal-spacing);
}

.birthdaySection,
.maritalSection {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 0px var(--horizontal-spacing);
  padding-top: var(--inner-vertical-spacing);
  border-top: 1px solid var(--color-gray-2);
}

.maritalStatus {
  border: none;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.avatarWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 40px;
}
