.wrapper {
    padding: 20px;
}

.form {
    display: grid;
    gap: var(--vertical-spacing) 0px
}

.form input {
    border: none
}

.icon {
    stroke-width: 2;
    grid-row: 1/2;
    grid-column: 1/2;
    color: var(--color-blue-7);
    align-self: center;
    justify-self: center;
}

.indented {
    grid-column: 2/-1;
}

.rowWithButtons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0px 10px
}

.buttonGroup {
    display: flex;
    gap: 0px 10px;
    color: var(--color-gray-4)
}

.nameSection {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 0px var(--horizontal-spacing)
}

.birthdaySection {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 0px var(--horizontal-spacing)
}

.phoneSection {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 0px var(--horizontal-spacing)
}

.emailSection {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 0px var(--horizontal-spacing)
}

.employmentSection {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 0px var(--horizontal-spacing)
}

.maritalSection {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 0px var(--horizontal-spacing)
}

.employmentStatus,
.maritalStatus {
    border: none;
    width: 100%
}