.wrapper {
  padding: 20px;
  padding-top: 0px;
}

.wrapper input,
.wrapper select {
  background: var(--color-primary);
}

.wrapper svg:hover {
  cursor: pointer;
  color: var(--color-gray-6);
}

.form {
  display: grid;
  gap: var(--vertical-spacing) 0px;
}

.form input {
  border: none;
}

.icon {
  stroke-width: 2;
  grid-row: 1/2;
  grid-column: 1/2;
  color: var(--color-blue-7);
  align-self: center;
  justify-self: center;
}

.indented {
  grid-column: 2/-1;
}

.nameSection {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 10px var(--horizontal-spacing);
}

.birthdaySection,
.maritalSection {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 8px var(--horizontal-spacing);
  padding-top: var(--inner-vertical-spacing);
  border-top: 1px solid var(--color-gray-2);
}

.birthdaySection {
  align-items: end;
}

.birthdayInput {
  width: 100% !important;
  position: relative;
  height: 100%;
  padding: 0px;
  /* color: transparent; */
  text-align: left;
  height: 26px;
}

.birthdayInput::-webkit-date-and-time-value {
  text-align: left;
  margin-left: 2px;
}

/* .birthdayInput::-webkit-calendar-picker-indicator {
    background: transparent;
    inset: 0;
    cursor: pointer;
    position: absolute;
    height: auto;
    width: auto;
  } */

.birthdayInput[type="date"]::before {
  content: attr(placeholder);
  position: absolute;
  color: #999999;
  /* color: #c7c7cd; */
}

.birthdayInput[type="date"]:focus,
.birthdayInput[type="date"]:valid {
  color: inherit;
}

.birthdayInput[type="date"]:focus::before,
.birthdayInput[type="date"]:valid::before {
  content: "";
}

.birthdayInput[type="date"] {
  /* -webkit-appearance: none; */
  color: var(--color-primary);
  min-width: 100%;
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  /* padding-top: 2px !important; */
}

/* @media (hover: hover) and (pointer: fine) {
  .birthdayInput[type="date"] {
    padding-left: 0px !important;
  }
} */

.maritalStatus {
  border: none;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right;
  background: var(--color-primary);
}

.avatarWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 35px;
}
