.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 50px;   
    --avatar-color: var(--color-gray-5)
}

.avatar {
    --size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: var(--size);
    height: var(--size);
    background-color: inherit;
    border: 1px solid;
    border-radius: 50%;   
    font-size: 35px;
    border-color: var(--avatar-color)
}

.initial {
    color: var(--avatar-color)
}

.wrapper svg {
    color: var(--avatar-color)
}