@keyframes scaleUp {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(100%);
  }
}

.button {
  border: none;
  border-radius: 18px;
  max-width: 600px;
  position: relative;
  padding: 0px;
  padding-top: 7px;
  padding-bottom: 9px;
  background: transparent;
  cursor: pointer;

  /* background: var(--color-secondary); */
}

.contents {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  line-height: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  background: var(--color-secondary);
  animation: scaleUp 1000ms both linear;
  border-radius: 18px;
  /* box-shadow: 5px 8px 8px hsl(0deg 0% 0% / 0.2); */
}

.button:active .overlay {
  /* background: var(--color-secondary-2); */
}
