@keyframes scaleUp {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(100%);
  }
}

.button {
  border: none;
  /* width: clamp(200px, 300px, 500px); */

  max-width: 600px;
  position: relative;
  padding: 4px 0px;
}

.contents {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
}

.overlay {
  position: absolute;
  inset: 0;
  background: var(--color-secondary);
  animation: scaleUp 750ms both linear;
  border-radius: 18px;
}
