.table {
    /* border-spacing: 2px 10px; */
    width: 100%;
    border-collapse: collapse;
}

.table td {
    padding-left: var(--horizontal-padding);
    padding-right: var(--horizontal-padding);
    text-align: start;
    vertical-align: top;
}

.bottomPaddingBorder {
    border-bottom: 2px solid lightgrey;
    padding-bottom: var(--vertical-padding);
}

.topPadding {
    padding-top: var(--vertical-padding);
}

.table th {
    background-color: lightgrey;
    padding-top: var(--vertical-padding);
    padding-bottom: var(--vertical-padding);
}

/* .table thead:after {
    content: "@";
    display: block;
    line-height: 8px;
    text-indent: -99999px;
} */

