.wrapper {
  display: flex;
  align-items: baseline;
  position: sticky;
  top: 0;
  background-color: white;
}

.leftActionsWrapper {
  flex: 1;
}

.rightActionWrapper {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.saveBtn {
  padding: 0px;
  text-decoration: none;
  border: none;
  background: inherit;
  width: auto;
  color: var(--color-blue-7);
  cursor: pointer;
}

.cancelBtn {
  text-decoration: none;
  color: var(--color-blue-7);
}

.leftActionWrapper:active .cancelBtn {
  transform: scale(0.9);
  border: 1px solid red;
}

.rightActionWrapper:active .saveBtn {
  transform: scale(0.9);
}
