/* keep */

.icon {
  stroke-width: 2;
  grid-row: 1/2;
  grid-column: 1/2;
  color: var(--color-blue-7);
  align-self: center;
  justify-self: center;
}
/* keep */

.indented {
  grid-column: 2/-1;
}

/* keep */
.nameSection {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 10px var(--horizontal-spacing);
}

.input {
  background: var(--color-primary);
}
