.card {
  width: 100%;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px 20px;
  align-items: center;
  padding-bottom: 10px;
}

.initialsAvatar {
  padding-bottom: 0px;
  grid-row: 1/-1;
  grid-column: 1/2;
}

.name {
  line-height: 1;
  align-self: end;
  font-weight: 500;
}

.job {
  line-height: 1;
  align-self: start;
  font-size: 14px;
  color: rgb(148, 142, 142);
}
