.overlay {
  position: fixed;
  background: hsl(0deg 0% 0% / 0.75);
  inset: 0;
  z-index: 1000;
}

.content {
  position: fixed;
  background: hsl(0, 0%, 100%);
  border-radius: 8px;
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  top: 50%;
  left: 50%;
  /* top: calc(50% - 50px / 2);
  left: calc(50% - 50px / 2); */
  /* top: calc(50% - var(--removed-body-scroll-bar-size / 2, 0px));
  left: calc(50% - var(--removed-body-scroll-bar-size / 2, 0px)); */
  transform: translate(-50%, -50%);
  padding: 25px;
  z-index: 1001;
}

.title {
  font-size: 17px;
  font-weight: 600;
  color: var(--color-gray-9);
}

.description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  color: var(--color-gray-7);
  line-height: 1.5;
}

.button {
  border: none;
  border-radius: 4px;
  padding: 0 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  font-size: 15px;
}

.actions {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.cancel.button {
  background-color: gainsboro;
  margin-left: auto;
  display: block;
  outline: none;
}

.action.button {
  background-color: var(--color-red-4);
  color: var(--color-red-11);
  outline: none;
}

.cancel.button:focus {
  box-shadow: 0 0 0 2px var(--color-gray-4);
}

.action.button:hover {
  background-color: var(--color-red-5);
}

.action.button:focus {
  box-shadow: 0 0 0 2px var(--color-red-7);
}

.modalTitle {
  margin-bottom: 20px;
}

.modalDescription {
  margin-bottom: 28px;
}

.triggerBtn {
  height: 35px;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
}
