.wrapper {
  --grey-color: var(--color-gray-2);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hero {
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--grey-color);
}

.circleFlourish {
  width: 170px;
  height: 170px;
  background-color: var(--color-gray-1);
  border-radius: 50%;
  right: 0;
  top: 0;
  transform: translate(70%, -25%);
  position: absolute;
  opacity: 0.6;
}

.squareFlourish {
  width: 300px;
  height: 160px;
  background-color: var(--color-gray-1);
  left: -50%;
  bottom: 0;
  position: absolute;
  opacity: 0.6;
}

.heroImageWrapper {
  bottom: 10.5%;
  position: absolute;
  width: clamp(200px, 300px, 500px);
}

.heroImage {
  background-color: transparent;
  position: relative;
  max-width: 100%;
  aspect-ratio: 1/1;
}

.heroImageBG {
  background-color: white;
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
}

.welcomeMessage {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 13px;
  align-items: center;
}

.header {
  font-weight: 700;
  line-height: 1;
}

.message {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-gray-6);
  line-height: 1.5;
  width: 34ch;
}

.signInPanel {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  gap: 25px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 9.5px;
}

.button {
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
}

.signInBtn {
  background-color: rgb(108, 99, 255);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.googleIcon {
  width: 30px;
  height: 30px;
}
.guestBtn {
  background-color: white;
  border: 2px solid var(--grey-color);
}

@media (min-width: 600px) {
  .welcomeMessage {
    margin-top: 35px;
  }

  .circleFlourish,
  .squareFlourish {
    display: none;
  }
}
